$font-stack: "Century Gothic", sans-serif;

body {
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
  background: #cccccc;
  overflow: hidden;
  cursor: pointer;
}


.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
